TEAM_ID=

PRODUCT_NAME=WhatsCooking
PRODUCT_BUNDLE_IDENTIFIER=one.vitaliy.whatscooking.WhatsCooking$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

FRAMEWORK_SEARCH_PATHS=$(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)
OTHER_LDFLAGS=$(inherited) -framework ComposeApp